In [ ]:
import numpy as np
import pandas as pd
from scipy.io import arff
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import os
import joblib
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import precision_recall_curve
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import ConfusionMatrixDisplay, classification_report
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.svm import SVC
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.datasets import make_blobs
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline

In [1]:
import numpy as np
import pandas as pd
from scipy.io import arff
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import joblib

In [2]:
data_perfiles= pd.read_csv('../data/data_bank_trx.csv')

data_perfiles

,profile,name,surname,birth_date,dni,email,password,iban,assets,trx_date,trx_city,trx_type,trx_cat,trx_amount,balance
0,buyer_1,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-01T18:47:44,Bilbao,incomes,salary,2977.38,6291.80
1,buyer_1,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-01T14:07:19,Bilbao,expenses,leisure,-69.13,6222.67
2,buyer_1,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-01T18:28:59,Bilbao,expenses,cash,-100.00,6122.67
3,buyer_1,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-02T14:07:37,Bilbao,expenses,transport,-64.16,6058.51
4,buyer_1,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-04T10:18:55,Bilbao,expenses,food,-109.49,5949.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9083,buyer_8,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-08T10:16:10,Durango,expenses,transport,-80.06,-68964.17
9084,buyer_8,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-08T09:07:41,Durango,expenses,leisure,-22.70,-68986.87
9085,buyer_8,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-08T18:32:10,Durango,expenses,repairs,-86.50,-69073.37
9086,buyer_8,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-09T15:29:36,Durango,expenses,cash,-100.00,-69173.37
9087,buyer_8,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-10T14:24:55,Durango,expenses,transport,-72.53,-69245.90

In [3]:
data_perfiles.dtypes

profile        object
name           object
surname        object
birth_date     object
dni            object
email          object
password        int64
iban           object
assets        float64
trx_date       object
trx_city       object
trx_type       object
trx_cat        object
trx_amount    float64
balance       float64
dtype: object

In [4]:
data_perfiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9088 entries, 0 to 9087
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   profile     9088 non-null   object
 1   name        9088 non-null   object
 2   surname     9088 non-null   object
 3   birth_date  9088 non-null   object
 4   dni         9088 non-null   object
 5   email       9088 non-null   object
 6   password    9088 non-null   int64
 7   iban        9088 non-null   object
 8   assets      9088 non-null   float64
 9   trx_date    9088 non-null   object
 10  trx_city    9088 non-null   object
 11  trx_type    9088 non-null   object
 12  trx_cat     9088 non-null   object
 13  trx_amount  9088 non-null   float64
 14  balance     9088 non-null   float64
dtypes: float64(3), int64(1), object(11)
memory usage: 1.0+ MB

In [5]:
# Obtener los value_counts de cada columna individualmente
profile_counts = data_perfiles["profile"].value_counts()
city_counts = data_perfiles["trx_city"].value_counts()
type_counts = data_perfiles["trx_type"].value_counts()
category_counts = data_perfiles["trx_cat"].value_counts()

print(profile_counts)
print("\n")
print(city_counts)
print("\n")
print(type_counts)
print("\n")
print(category_counts)

profile
buyer_7    1202
buyer_1    1171
buyer_2    1153
buyer_3    1136
buyer_5    1120
buyer_4    1115
buyer_6    1104
buyer_8    1087
Name: count, dtype: int64


trx_city
Bilbao             2373
Gernika            1153
Vitoria-Gasteiz    1136
Plentzia           1120
Barcelona          1115
Valladolid         1104
Durango            1087
Name: count, dtype: int64


trx_type
expenses    8621
incomes      467
Name: count, dtype: int64


trx_cat
cash                    1416
food                    1174
leisure                  977
transport                817
repairs                  544
gifts                    491
clothing                 440
education                312
phone                    286
water                    285
gas                      280
salary                   272
internet                 266
electricity              257
healthcare               248
appliances               239
mortgage                 238
travel                   130
children                 122
extra_income              77
salary_partner            68
salary_bonus              40
rent                      34
taxes                     24
insurance                 24
car                       17
salary_partner_bonus      10
Name: count, dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()


# Aplicar el encoder a múltiples columnas
data_perfiles["profile"] = encoder.fit_transform(data_perfiles["profile"])
data_perfiles["trx_city"] = encoder.fit_transform(data_perfiles["trx_city"])
data_perfiles["trx_type"] = encoder.fit_transform(data_perfiles["trx_type"])
data_perfiles["trx_cat"] = encoder.fit_transform(data_perfiles["trx_cat"])

In [7]:
data_perfiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9088 entries, 0 to 9087
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   profile     9088 non-null   int32
 1   name        9088 non-null   object
 2   surname     9088 non-null   object
 3   birth_date  9088 non-null   object
 4   dni         9088 non-null   object
 5   email       9088 non-null   object
 6   password    9088 non-null   int64
 7   iban        9088 non-null   object
 8   assets      9088 non-null   float64
 9   trx_date    9088 non-null   object
 10  trx_city    9088 non-null   int32
 11  trx_type    9088 non-null   int32
 12  trx_cat     9088 non-null   int32
 13  trx_amount  9088 non-null   float64
 14  balance     9088 non-null   float64
dtypes: float64(3), int32(4), int64(1), object(7)
memory usage: 923.1+ KB

In [8]:
data_perfiles

,profile,name,surname,birth_date,dni,email,password,iban,assets,trx_date,trx_city,trx_type,trx_cat,trx_amount,balance
0,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-01T18:47:44,1,1,19,2977.38,6291.80
1,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-01T14:07:19,1,0,14,-69.13,6222.67
2,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-01T18:28:59,1,0,2,-100.00,6122.67
3,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-02T14:07:37,1,0,24,-64.16,6058.51
4,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-04T10:18:55,1,0,8,-109.49,5949.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9083,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-08T10:16:10,2,0,24,-80.06,-68964.17
9084,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-08T09:07:41,2,0,14,-22.70,-68986.87
9085,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-08T18:32:10,2,0,18,-86.50,-69073.37
9086,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-09T15:29:36,2,0,2,-100.00,-69173.37
9087,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-10T14:24:55,2,0,24,-72.53,-69245.90

In [9]:
# Obtener los value_counts de cada columna individualmente
profile_counts = data_perfiles["profile"].value_counts()
city_counts = data_perfiles["trx_city"].value_counts()
type_counts = data_perfiles["trx_type"].value_counts()
category_counts = data_perfiles["trx_cat"].value_counts()

print(profile_counts)
print("\n")
print(city_counts)
print("\n")
print(type_counts)
print("\n")
print(category_counts)

profile
6    1202
0    1171
1    1153
2    1136
4    1120
3    1115
5    1104
7    1087
Name: count, dtype: int64


trx_city
1    2373
3    1153
6    1136
4    1120
0    1115
5    1104
2    1087
Name: count, dtype: int64


trx_type
0    8621
1     467
Name: count, dtype: int64


trx_cat
2     1416
8     1174
14     977
24     817
18     544
10     491
4      440
5      312
16     286
26     285
9      280
19     272
13     266
6      257
11     248
0      239
15     238
25     130
3      122
7       77
21      68
20      40
17      34
23      24
12      24
1       17
22      10
Name: count, dtype: int64

In [10]:
data_perfiles

,profile,name,surname,birth_date,dni,email,password,iban,assets,trx_date,trx_city,trx_type,trx_cat,trx_amount,balance
0,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-01T18:47:44,1,1,19,2977.38,6291.80
1,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-01T14:07:19,1,0,14,-69.13,6222.67
2,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-01T18:28:59,1,0,2,-100.00,6122.67
3,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-02T14:07:37,1,0,24,-64.16,6058.51
4,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-04T10:18:55,1,0,8,-109.49,5949.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9083,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-08T10:16:10,2,0,24,-80.06,-68964.17
9084,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-08T09:07:41,2,0,14,-22.70,-68986.87
9085,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-08T18:32:10,2,0,18,-86.50,-69073.37
9086,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-09T15:29:36,2,0,2,-100.00,-69173.37
9087,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-10T14:24:55,2,0,24,-72.53,-69245.90

In [12]:
data_perfiles.columns

Index(['profile', 'name', 'surname', 'birth_date', 'dni', 'email', 'password',
       'iban', 'assets', 'trx_date', 'trx_city', 'trx_type', 'trx_cat',
       'trx_amount', 'balance'],
      dtype='object')

In [15]:
# transformar 'timestamp' en características que pueda utilizar:
data_perfiles['trx_date'] = pd.to_datetime(data_perfiles['trx_date'])
data_perfiles['year']= data_perfiles['trx_date'].dt.year
data_perfiles['day'] = data_perfiles['trx_date'].dt.day
data_perfiles['month'] = data_perfiles['trx_date'].dt.month
data_perfiles['day_of_week'] = data_perfiles['trx_date'].dt.dayofweek
data_perfiles['hour'] = data_perfiles['trx_date'].dt.hour
data_perfiles['minute'] = data_perfiles['trx_date'].dt.minute
data_perfiles['second'] = data_perfiles['trx_date'].dt.second

In [16]:
data_perfiles

,profile,name,surname,birth_date,dni,email,password,iban,assets,trx_date,...,trx_cat,trx_amount,balance,year,day,month,day_of_week,hour,minute,second
0,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-01 18:47:44,...,19,2977.38,6291.80,2022,1,1,5,18,47,44
1,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-01 14:07:19,...,14,-69.13,6222.67,2022,1,1,5,14,7,19
2,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-01 18:28:59,...,2,-100.00,6122.67,2022,1,1,5,18,28,59
3,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-02 14:07:37,...,24,-64.16,6058.51,2022,2,1,6,14,7,37
4,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,2022-01-04 10:18:55,...,8,-109.49,5949.02,2022,4,1,1,10,18,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9083,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-08 10:16:10,...,24,-80.06,-68964.17,2024,8,10,1,10,16,10
9084,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-08 09:07:41,...,14,-22.70,-68986.87,2024,8,10,1,9,7,41
9085,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-08 18:32:10,...,18,-86.50,-69073.37,2024,8,10,1,18,32,10
9086,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-09 15:29:36,...,2,-100.00,-69173.37,2024,9,10,2,15,29,36
9087,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2024-10-10 14:24:55,...,24,-72.53,-69245.90,2024,10,10,3,14,24,55

# Eliminar la columna 'trx_date' si ya no es necesaria

In [17]:
# Eliminar la columna 'trx_date' si ya no es necesaria
data_perfiles = data_perfiles.drop(columns=['trx_date'])

# Vizualizar
data_perfiles

,profile,name,surname,birth_date,dni,email,password,iban,assets,trx_city,...,trx_cat,trx_amount,balance,year,day,month,day_of_week,hour,minute,second
0,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,1,...,19,2977.38,6291.80,2022,1,1,5,18,47,44
1,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,1,...,14,-69.13,6222.67,2022,1,1,5,14,7,19
2,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,1,...,2,-100.00,6122.67,2022,1,1,5,18,28,59
3,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,1,...,24,-64.16,6058.51,2022,2,1,6,14,7,37
4,0,Aitor,López,1996-08-10,06980792Q,aitor.lopez@smartpixel.com,628678,ES27209522028598818380,3314.42,1,...,8,-109.49,5949.02,2022,4,1,1,10,18,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9083,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2,...,24,-80.06,-68964.17,2024,8,10,1,10,16,10
9084,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2,...,14,-22.70,-68986.87,2024,8,10,1,9,7,41
9085,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2,...,18,-86.50,-69073.37,2024,8,10,1,18,32,10
9086,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2,...,2,-100.00,-69173.37,2024,9,10,2,15,29,36
9087,7,Patxi,Urrutia,1979-04-04,09752612Z,patxi.urrutia@extremeweb.online,628514,ES32209545265259276199,1854.06,2,...,24,-72.53,-69245.90,2024,10,10,3,14,24,55

In [18]:
data_perfiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9088 entries, 0 to 9087
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   profile      9088 non-null   int32
 1   name         9088 non-null   object
 2   surname      9088 non-null   object
 3   birth_date   9088 non-null   object
 4   dni          9088 non-null   object
 5   email        9088 non-null   object
 6   password     9088 non-null   int64
 7   iban         9088 non-null   object
 8   assets       9088 non-null   float64
 9   trx_city     9088 non-null   int32
 10  trx_type     9088 non-null   int32
 11  trx_cat      9088 non-null   int32
 12  trx_amount   9088 non-null   float64
 13  balance      9088 non-null   float64
 14  year         9088 non-null   int32
 15  day          9088 non-null   int32
 16  month        9088 non-null   int32
 17  day_of_week  9088 non-null   int32
 18  hour         9088 non-null   int32
 19  minute       9088 non-null   int32
 20  second       9088 non-null   int32
dtypes: float64(3), int32(11), int64(1), object(6)
memory usage: 1.1+ MB

<span style="color:#1b55e6">
#No he transformado en numericas las demas columnas, ya que para la prediccion no son necesarias todas. Consultar con Sara ojo
</span>